.toolbar {
  justify-content: center;

  span {
    cursor: pointer;
  }

  button.example-icon {
    border: none;
    background-color: inherit;
    position: absolute;
    right: 20px;
    mat-icon {
      transform: scale(1.3);
    }
  }
}
