.wpb_wrapper {
  font-family: Helvetica;
  letter-spacing: 1px;

  h1,
  h2 {
    letter-spacing: 1px;
  }

  h1 {
    line-height: 50px;
    font-size: 45px;
  }

  h2 {
    line-height: 28px;
    font-size: 22px;
  }
  h4 {
    line-height: 24px;
    font-size: 17px;
  }
}
