<div class="container">
  <mat-card>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-around center"
      fxFlex="50%"
      fxFlex.gt-sm="25%"
    >
      <div fxLayout="row" class="form-group">
        <div class="form-label">First Name</div>
        <div class="form-control">
          <input type="text" />
        </div>
      </div>
      <div fxLayout="row" class="form-group">
        <div class="form-label">Last Name</div>
        <div class="form-control">
          <input type="text" />
        </div>
      </div>
    </div>
  </mat-card>
</div>
