<div class="container">
  <div
    fxLayout
    fxLayout.sm="column"
    fxLayoutAlign="space-around start"
    fxLayoutGap="30px"
  >
    <mat-card
      ngStyle.gt-sm="max-width: 33%; width: 33%"
      ngStyle.sm="max-width: 100%; width: 100%"
    >
      <form [formGroup]="formGroup" (validSubmit)="onSubmit()">
        <div
          style="margin-bottom: 20px"
          fxLayout="column"
          fxLayout.sm="row"
          fxLayout.lg="column"
          fxLayoutGap="20px"
        >
          <div class="form-group" fxFlex fxLayoutAlign="space-between center">
            <div class="form-label">First Name</div>
            <div class="form-control">
              <input formControlName="firstName" type="text" />
            </div>
          </div>
          <div class="form-group" fxFlex fxLayoutAlign="space-between center">
            <div class="form-label">Last Name</div>
            <div class="form-control">
              <input formControlName="lastName" type="text" />
            </div>
          </div>
        </div>
        <div
          fxLayout="column"
          fxLayout.sm="row"
          fxLayout.lg="column"
          fxLayoutGap="20px"
        >
          <div class="form-group" fxFlex fxLayoutAlign="space-between center">
            <div class="form-label">Email*</div>
            <div class="form-control">
              <input formControlName="email" type="text" />
            </div>
          </div>
          <div class="form-group" fxFlex fxLayoutAlign="space-between center">
            <div class="form-label">Type</div>
            <div class="form-control">
              <input formControlName="type" type="text" />
            </div>
          </div>
        </div>

        <div class="action">
          <button mat-flat-button color="primary">Add</button>
        </div>
      </form>
    </mat-card>

    <div
      ngStyle.gt-sm="max-width: 66%; width: 66%"
      ngStyle.sm="max-width: 100%; width: 100%"
    >
      <div class="button-container">
        <button (click)="delete()" mat-button color="primary">Delete</button>
      </div>

      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 demo-table"
      >
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ getFullName(element) }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
