<div class="container">
  <mat-card>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.lg="column"
      fxFlex
      fxLayoutAlign="space-around center"
    >
      <div fxFlex fxLayout="row" class="form-group">
        <div class="form-label">First Name</div>
        <div class="form-control">
          <input type="text" />
        </div>
      </div>
      <div fxFlex fxLayout="row" class="form-group">
        <div class="form-label">Last Name</div>
        <div class="form-control">
          <input type="text" />
        </div>
      </div>
    </div>
  </mat-card>
</div>
