@import "src/assets/scss/settings.scss";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background-gray;
}

mat-icon {
  color: white;
}

button {
  cursor: pointer;
}

.action {
  text-align: right;
  button {
    margin-top: 10px;
  }
}

.form-group {
  position: relative;

  &.has-error {
    .form-control {
      input {
        border: 1px solid $danger;
      }
    }
  }

  form-messages {
    font-weight: 500;
    white-space: nowrap;
    color: $danger;
    position: absolute;
    right: 0;
    top: 25px;
  }

  > .form-label {
    margin-right: 20px;
    white-space: nowrap;
  }

  > .form-control {
    input {
      border: 1px solid $border-gray;
      padding: 5px 10px;
    }
  }
}
